
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowItem</title>
</head>
<body>
    <h1>@ViewData["name"]</h1>
    <p>@ViewData["price"]$</p>
    <p>Material: @ViewData["material"]</p>
    <p>Description: @ViewData["description"]</p>
</body>
</html>
